@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-surface-dark text-slate-100 font-sans antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}

.card-surface {
  @apply bg-card/80 backdrop-blur border border-white/5 shadow-card rounded-xl;
}
